/* your styles go here */

/* remove underline from hyperlinks */
a:hover, a:focus{ background-color: transparent; text-decoration: none; }

/* social icons */
.socials li {
    display: inline-block
}

.fa-circle {
    color:#1A2C56
}

.fa-inverse {
    color:#D1A683
}

.fa-stack-1x.fa-inverse:hover {
    transform: scale(1.5, 1.5);
    -webkit-transform: scale(1.5, 1.5);
    transition: 0.2s ease-in;
    -webkit-transition: 0.2s ease-in;
}
.fa-inverse {
    transition: 0.2s linear;
    -webkit-transition: 0.2s linear;
}

