/* asterick selector selects all elements*/
* {
  box-sizing: border-box;
}
html {
  background: #222;
  font-family: RobotoDraft, 'Helvetica Neue', Helvetica, Arial;
}
.start {
  text-align: center;
  position: absolute;
  margin: -30px 20px;
  width: 120px;
  height: 32px;
  line-height: 32px;
  border-radius: 2px;
  font-size: 0.9em;
  background-color: #0d6cac;
  color: #fff;
}
.start:active {
  background-color: #90CAF9;
}
.red {
  background-color: red;
}
.red:active {
  background-color: #FF6666;
}
.strictOn {
  text-align: center;
  position: absolute;
  margin: -30px 20px;
  width: 120px;
  height: 32px;
  line-height: 32px;
  border-radius: 2px;
  font-size: 0.9em;
  background-color: yellow;
  color: black;
  cursor: pointer;
}
.strictOn:active {
  background-color: #F5F5DC;
}
.strictOff {
  text-align: center;
  position: absolute;
  margin: -30px 20px;
  width: 120px;
  height: 32px;
  line-height: 32px;
  border-radius: 2px;
  font-size: 0.9em;
  background-color: #F8DE7E;
  color: black;
  cursor: pointer;
}
.strictOff:active {
  background-color: #F5F5DC;
}


@media (max-width: 500px) {
  .start {
    margin-top: -80px;
  }
}

.chrome {
  margin: 50px auto;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  height: 420px;
  width: 420px;
}
.chrome .section {
  position: absolute;
}
.chrome .section:hover {
  cursor: pointer;
}
@media (max-width: 500px) {
  .chrome {
    height: 210px;
    width: 210px;
    margin-top: 100px;
  }
}
.chrome .blue1 {
  border-radius: 50%;
  background: #0d6cac;
  top: 50%;
  left: 50%;
  margin: -80px 0 0 -80px;
  height: 160px;
  width: 160px;
}
@media (max-width: 500px) {
  .chrome .blue1 {
    height: 80px;
    width: 80px;
    margin-top: -41px;
    margin-left: -40px;
  }
}
.chrome .white {
  position: absolute;
  border-radius: 50%;
  background: #fff;
  top: 50%;
  left: 50%;
  margin: -90px 0 0 -90px;
  height: 180px;
  width: 180px;
}
@media (max-width: 500px) {
  .chrome .white {
    height: 94px;
    width: 94px;
    margin-top: -48px;
    margin-left: -47px;
  }
}
.chrome #red {
  background: #d01e17;
}
.chrome .red1 {
  width: 400px;
  height: 130px;
  top: 0;
  left: 70px;
}
@media (max-width: 500px) {
  .chrome .red1 {
    height: 58px;
    width: 200;
    left: 34px;
  }
}
.chrome .red1 .red2 {
  width: 400px;
  height: 121px;
  left: -180px;
  -webkit-transform: rotate(60deg);
          transform: rotate(60deg);
}
@media (max-width: 500px) {
  .chrome .red1 .red2 {
    left: -91px;
    width: 200px;
    height: 58px;
  }
}
.chrome #yellow {
  background: #fdd901;
}
.chrome .yellow1 {
  width: 400px;
  height: 125px;
  top: 277px;
  left: 110px;
  -webkit-transform: rotate(120deg);
          transform: rotate(120deg);
}
@media (max-width: 500px) {
  .chrome .yellow1 {
    top: 131px;
    left: 56px;
    width: 200px;
    height: 65px;
  }
}
.chrome .yellow1 .yellow2 {
  width: 400px;
  height: 120px;
  top: 6px;
  left:  -181px;
  -webkit-transform: rotate(60deg);
          transform: rotate(60deg);
}
@media (max-width: 500px) {
  .chrome .yellow1 .yellow2 {
    top: 0px;
    left: -91px;
    width: 200px;
    height: 58px;
  }
}
.chrome #green {
  background: #5bc15b;
}
.chrome .green1 {
  width: 410px;
  height: 126px;
  top: 180px;
  left: -151px;
  -webkit-transform: rotate(-120deg);
          transform: rotate(-120deg);
}
@media (max-width: 500px) {
  .chrome .green1 {
    top: 88px;
    left: -74px;
    width: 200px;
    height: 65px;
  }
}
.chrome .green1 .green2 {
  width: 400px;
  height: 119px;
  top: 0;
  left: -169px;
  -webkit-transform: rotate(60deg);
          transform: rotate(60deg);
}
@media (max-width: 500px) {
  .chrome .green1 .green2 {
    left: -91px;
    width: 200px;
    height: 58px;
  }
}
.light {
  -webkit-filter: brightness(1) saturate(7);
          filter: brightness(1) saturate(7);
}



/* done */