
/* below is for mac login icon */
* {
  font-family: 'lucida grande';
  font-size: 11px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: url("http://orig03.deviantart.net/966d/f/2011/130/c/0/osxlion_inspired_grey_by_djeric-d3g27m1.jpg");
/*  
back up photo :
http://2.bp.blogspot.com/-_kC4OgbmTCA/Tp5g6s7Kh3I/AAAAAAAAAJs/bef01UZkkzg/s1600/AppleLinen-1.png
*/  background-size: 2000px;
height: 2000px;
}

#lock {
  background: rgb(210, 208, 214);
  height: 200px;
  width: 200px;
  border-radius: 4px;
  box-shadow: 0 2px 10px;
  text-align: center;
  position: relative;
  left: 40%;
  margin-top: 10%;
}

.parent {
  border-radius: 100%;
  height: 43%;
  width: 43%;
  background: rgb(230, 230, 230);
  position: relative;
  left: 28%;
  top: 10%;
  box-shadow: 0 1px 5px;
  overflow: hidden;
}

.picture {
  border-radius: 100%;
  height: 94%;
  width: 94%;
  background: url("https://scontent-lax3-1.xx.fbcdn.net/hphotos-xtf1/v/t1.0-9/12003391_1140877672606425_3967425921388990616_n.jpg?oh=77d8e378559de8ce6ee7eb6f415cc0a5&oe=5734821A");
  background-repeat: no-repeat;
  background-position: 57% 69%;
  background-size: 85px;
  position: relative;
  left: 3.2%;
  top: 3.5%;
}
.name {
  position: relative;
  margin-top: 15%;
}

input {
  height: 20px;
  width: 70%;
  border-radius: 3px;
  padding-left: 3px;
  margin-top: 10%;
  border: 1px solid transparent;
  position: relative;
  line-height: 1em;
}




/* end of mac login icon */



.personal-sites {
  color: black;
  font-weight: bold;
  font-size: 40px;
  font-family: Lobster;
  text-decoration: none;

}

.about {
  color: white;
  font-weight: bold;
  font-family: Lobster;
  font-size: 15px;
  text-decoration: none;
}
.about:hover {
  color: #3b5998;
}

.span5 {
  margin-right: 5px;
}
.span30 {
  margin-right: 30px;
}

.imageContainer {
  width: 100px;
  height: 100px;
  overflow: auto;
}

#about-toolbar {
  color: black;
  font-family: courier;
  background-color: #ddd;
  width: 500px;
  font-size: 16px;
  position: absolute;
  left: 46%;
  margin-left: -220px;
  border-radius: 3px;
  box-shadow: 0 2px 10px;
  bottom: -20px;
}

#about2 {
  color: white;
  font-size: 18px;
  font-family: courier;
  width: 500px;
  height: 260px;
  overflow: auto;
  position: absolute;
  background-color: black;
  border-radius: 3px;
}


#projects-toolbar {
  color: black;
  font-family: courier;
  background-color: #ddd;
  font-size: 16px;
  height: 21px;
  border-radius: 3px;
  left: 0%;
  margin-left: -7px;
  margin-right:-7px;
  box-shadow: 0 2px 10px;
  bottom: -800px;
  position: relative;
}

#projects {
  color: white;
  font-size: 18px;
  font-family: courier;
  height: 500px;
  overflow: auto;
  position: absolute;
  left: 0%;
  background-color: black;
  border-radius: 3px;
}


.resize {
  width: 350px;
  height: auto;
}

#rqm {
  position: relative;
  display: inline;
}
.random-quote-machine {
  position: relative;
  font-size: 260px;
  color: green;
}

#jsc{
  position: relative;
  display: inline;
}
.javascript-calculator {
  position: relative;
  font-size: 260px;
  color: orange;
}
#pdt{
  position: relative;
  display: inline;
}
.pomodoro-timer {
  position: relative;
  font-size: 260px;
  color: red;
}
#rpg{
  position: relative;
  display: inline;
}
.text-rpg {
  position: relative;
  font-size: 260px;
  color: blue;
}

.fa-flag-fb:hover {
    color: #0033aa;
}
.fa-flag-link:hover{
  color: #4875B4;
}
.fa-flag-yt:hover{
  color: #FF3333;
}
.fa-flag-git:hover{
  color: #65187A;
}
.fa-flag-projects:hover{
  color:#3b5998;
}

#twh{
  position: relative;
  display: inline;
}
.twitch {
  position: relative;
  font-size: 260px;
  color: #6441A5;
}

#ttt{
  position: relative;
  display: inline;
}
.tic-tac-toe {
  position: relative;
  font-size: 260px;
  color: #b09e8b;
}
#wtr{
  position: relative;
  display: inline;
}
.weather {
  position: relative;
  font-size: 260px;
  color: yellow;
}
#smn{
  position: relative;
  display: inline;
}
.simon {
  position: relative;
  font-size: 260px;
  color:  #e862aa;
}
#sty{
  position: relative;
  display: inline;
}
.stylize-stories {
  position: relative;
  font-size: 260px;
  color: #2897d5;
}
#wik{
  position: relative;
  display: inline;
}
.wikipedia {
  position: relative;
  font-size: 260px;
  color: white;
}








/* for icon */

.alignleft {
  float: left;
}
.img-wrap img{
    height: auto;
    max-width: 43%;
}

.animation-target {
  -webkit-animation: animation 3000ms linear both;
  animation: animation 3000ms linear both;
}

/* Generated with Bounce.js. Edit at http://goo.gl/T9nvrR */

@-webkit-keyframes animation { 
  0% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  1.07% { -webkit-transform: matrix3d(0.607, 0.8, 0, 0, -0.675, 0.744, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.607, 0.8, 0, 0, -0.675, 0.744, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  2.14% { -webkit-transform: matrix3d(-0.203, 0.986, 0, 0, -1.006, 0.028, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(-0.203, 0.986, 0, 0, -1.006, 0.028, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  4.24% { -webkit-transform: matrix3d(-0.996, -0.119, 0, 0, -0.03, -1.002, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(-0.996, -0.119, 0, 0, -0.03, -1.002, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  4.3% { -webkit-transform: matrix3d(-0.989, -0.162, 0, 0, 0.017, -1.002, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(-0.989, -0.162, 0, 0, 0.017, -1.002, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  6.31% { -webkit-transform: matrix3d(-0.234, -0.973, 0, 0, 0.96, -0.281, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(-0.234, -0.973, 0, 0, 0.96, -0.281, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  8.41% { -webkit-transform: matrix3d(0.666, -0.746, 0, 0, 0.745, 0.667, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.666, -0.746, 0, 0, 0.745, 0.667, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  8.61% { -webkit-transform: matrix3d(0.722, -0.692, 0, 0, 0.69, 0.724, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.722, -0.692, 0, 0, 0.69, 0.724, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  10.48% { -webkit-transform: matrix3d(0.987, -0.162, 0, 0, 0.151, 0.989, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.987, -0.162, 0, 0, 0.151, 0.989, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  12.91% { -webkit-transform: matrix3d(0.948, 0.32, 0, 0, -0.326, 0.946, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.948, 0.32, 0, 0, -0.326, 0.946, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  17.22% { -webkit-transform: matrix3d(0.833, 0.554, 0, 0, -0.553, 0.833, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.833, 0.554, 0, 0, -0.553, 0.833, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  18.82% { -webkit-transform: matrix3d(0.846, 0.534, 0, 0, -0.533, 0.846, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.846, 0.534, 0, 0, -0.533, 0.846, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  27.16% { -webkit-transform: matrix3d(0.985, 0.175, 0, 0, -0.175, 0.985, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.985, 0.175, 0, 0, -0.175, 0.985, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  28.33% { -webkit-transform: matrix3d(0.992, 0.129, 0, 0, -0.129, 0.992, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.992, 0.129, 0, 0, -0.129, 0.992, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  33.33% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  39.44% { -webkit-transform: matrix3d(0.999, -0.039, 0, 0, 0.039, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.999, -0.039, 0, 0, 0.039, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  61.66% { -webkit-transform: matrix3d(1, 0.003, 0, 0, -0.003, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0.003, 0, 0, -0.003, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  83.98% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  100% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); } 
}

@keyframes animation { 
  0% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  1.07% { -webkit-transform: matrix3d(0.607, 0.8, 0, 0, -0.675, 0.744, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.607, 0.8, 0, 0, -0.675, 0.744, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  2.14% { -webkit-transform: matrix3d(-0.203, 0.986, 0, 0, -1.006, 0.028, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(-0.203, 0.986, 0, 0, -1.006, 0.028, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  4.24% { -webkit-transform: matrix3d(-0.996, -0.119, 0, 0, -0.03, -1.002, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(-0.996, -0.119, 0, 0, -0.03, -1.002, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  4.3% { -webkit-transform: matrix3d(-0.989, -0.162, 0, 0, 0.017, -1.002, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(-0.989, -0.162, 0, 0, 0.017, -1.002, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  6.31% { -webkit-transform: matrix3d(-0.234, -0.973, 0, 0, 0.96, -0.281, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(-0.234, -0.973, 0, 0, 0.96, -0.281, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  8.41% { -webkit-transform: matrix3d(0.666, -0.746, 0, 0, 0.745, 0.667, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.666, -0.746, 0, 0, 0.745, 0.667, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  8.61% { -webkit-transform: matrix3d(0.722, -0.692, 0, 0, 0.69, 0.724, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.722, -0.692, 0, 0, 0.69, 0.724, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  10.48% { -webkit-transform: matrix3d(0.987, -0.162, 0, 0, 0.151, 0.989, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.987, -0.162, 0, 0, 0.151, 0.989, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  12.91% { -webkit-transform: matrix3d(0.948, 0.32, 0, 0, -0.326, 0.946, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.948, 0.32, 0, 0, -0.326, 0.946, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  17.22% { -webkit-transform: matrix3d(0.833, 0.554, 0, 0, -0.553, 0.833, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.833, 0.554, 0, 0, -0.553, 0.833, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  18.82% { -webkit-transform: matrix3d(0.846, 0.534, 0, 0, -0.533, 0.846, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.846, 0.534, 0, 0, -0.533, 0.846, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  27.16% { -webkit-transform: matrix3d(0.985, 0.175, 0, 0, -0.175, 0.985, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.985, 0.175, 0, 0, -0.175, 0.985, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  28.33% { -webkit-transform: matrix3d(0.992, 0.129, 0, 0, -0.129, 0.992, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.992, 0.129, 0, 0, -0.129, 0.992, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  33.33% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  39.44% { -webkit-transform: matrix3d(0.999, -0.039, 0, 0, 0.039, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.999, -0.039, 0, 0, 0.039, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  61.66% { -webkit-transform: matrix3d(1, 0.003, 0, 0, -0.003, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0.003, 0, 0, -0.003, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  83.98% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  100% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); } 
}

.img-wrap:active img {
  -webkit-animation: animation 3000ms linear both;
  animation: animation 3000ms linear both;
  box-shadow: 0 2px 10px;

}

