


#body{
	text-align: center;
	background-color: #f03939;
	position: relative;
}





.set-time p{
	font-size: 30px;
	font-weight: bold;
}



#timer{
	height: 200px;
	font-size: 50px;
	width: 300px;
	margin: 0 auto;
}

.clock{
	background-color: #f03939;
	color:white;
	padding: 20px;
	font-family: avenir;
	font-size: 70px;
}



.box {
	font-family: avenir;
    margin: auto;
    position: relative;
    right: -45%;
    top: 30px;

}




.count-box {
	font-family: lobster;
	color: white;
	font-weight: bold;
	font-size: 25px;
}



