body {
  background: transparent; /* background color for entire page*/
}
.background {
  position: relative;
}
.dos { 
  width: 100%; 
  height: 400px;
  background: transparent;
  margin: 10px auto;
  padding:30px;  
  font-family: avenir;
  font-size: 20px;
  font-weight: bold;
  color: black; /* black text */
  text-align: left; 
  overflow: auto; 
  border-top: 1px solid #909090;
  border-right: 1px solid #909090; 
  border-bottom: 1px solid #909090; 
  border-left: 1px solid #909090; 

  border-radius: 1px;
}
.userEntry {
  background: transparent; /* background for user input is transparent*/
  border: none;
  margin: 0px;
  
}
.line {
  background: white; /* background color for lines of computer text */
}
.background {
  position: absolute;
  z-index: -500;
  width: 100%;
  height: 100%;
  left: 0;
}

